*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
   
}
html {
    
    background-color: aqua;
    
}

html, body, #root {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    padding: 2rem
}
  